*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
--pbg: #ffffff;
--sbg: #f8f9fa;
--tbg: #f1f3f4;

--pcolor: #202124;
--scolor: #5f6368;

--br: #d0d0d0;
--br2: #c0c0c0;
--br3: #b0b0b0;
}

.dark-theme {
--pbg: #0f0f0f;
--sbg: #1a1a1a;
--tbg: #2d2d2d;

--pcolor: #e8eaed;
--scolor: #9aa0a6;

--br: #404040;
--br2: #505050;
--br3: #606060;
}

body{
  background: var(--pbg);
  color: var(--pcolor);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:50px;
}

header{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width:100%;
  height: 50px;
  padding: 2px;
  align-items: center;
  background: var(--sbg);
  color: var(--pcolor);
}

header h1{
  font-size: 2.4rem;
  padding: 3px;
}

#Hbtns{
  display: flex;
  width:100%;
}

#Hbtns button{
  flex:1;
  height: 25px;
  font-size: 15px;
  background: var(--tbg);
  color:var(--pcolor);
  border: 1px solid var(--br2);
}

a{
  text-decoration: none;
  color:var(--pcolor);
}

#Scontent{
  height: 200px;
  width: 160px;
  background: var(--sbg);
  border: 2px solid var(--br2);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  gap:10px;
  align-items: center;
  padding: 1px;
  visibility: hidden;
}

#Scontent button{
  flex:none;
  height: 20px;
  width: 90%;
}

#SC1{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--br2);
  width:60%;
  bac
}

#Scontent div button{
  width:30%;
}

#CButton button{
  position: absolute;
  top:-20px;
  right:-1.5px;
  border: 2px solid var(--br2);
  background: red;
  color: var(--pcolor);
  font-weight: 900;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  border: 1px solid var(--br2);
  background: var(--pbg);
  color: var(--pcolor);
  font-weight: 800;
  width: 90%;
  height: 40px;
  border-radius: 20px;
  text-indent: 12px;
}

#Sinput{
  border: 0;
  background: green;
  width: 45%;
  height: 35px;
  border-radius: 20px;
  color:white;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  text-indent: 0;
}

form{
  padding: 20px;
  width:90%;
  border: var(--pbr);
  display: flex;
  flex-direction: column;
  gap:13px;
  align-items: center;
  border-radius: 15px;
  background: var(--tbg);
  color: var(--scolor);
  border:1px solid var(--br);
}

form p{
  color:orange;
}
