*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #ffffff;
    --color: #212121;
    --color2:#000000;
    --t-bg: #909090;
    --brcolor: #e0e0e0;
    --bg2:#f1f1f1;
    --t-bg2:#f8f9fa;
    --t-brcolor:#000000;
}

/*.simple-theme{
    --bg: blue;
    --color:white;
    --t-bg: #909090;
    -brcolor: white
}*/

.dark-theme {
    --bg: #121212;
    --color: #f0f0f0;
    --color2:#f9f9f9;
    --t-bg: #4d4d4d;
    --brcolor: #333333;
    --bg2:#1e1e1e;
    --t-bg2: #2d2d2d;
    --t-brcolor: #f0f0f0;
}

body {
    background: var(--bg);
    color: var(--color);
    padding: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px
    
}

#Sfl {
    position: fixed;
    right: 0;
    margin: 0 4px 0 0;
    top: 0;
    border: 2px solid var(--brcolor);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background: var(--bg);
    color: var(--color);
    font-size: 75%;
    font-weight: 800;
    text-align: center;
}

#Sfl button {
    background: var(--bg);
    color: var(--color);
}

table {
    border-collapse: collapse;
    width: 100%;


}
th, td {
    border: 1px solid var(--t-brcolor);
    padding: 10px;
    text-align: left;
    background: var(--t-bg2);
}
th {
    background-color: var(--t-bg);
    color: var(--color2);
    font-weight: 900;
}

#Std td button {
    width: 95%;
    background: #10b981;
    border-radius: 25px;
    border: 0;
    color: white;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

#Std button {
    transition: all 0.3 ease;
    padding: 10px 20px;
}

#Std button:hover {
    background: darkgreen;
    transform: scale(1.1);
}

#Std td {
    text-align: center;
}

footer {
    text-align: center;
    color: var(--color);
}

#Qbtn {
    border: 0;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 10px;
    
}

#Qbtn button {
    background: var(--t-bg);
    color: white;
    padding: 8px 12px;
    border: 1px solid var(--color);
    font-weight: 700;
    font-size: 12px;
}

header{
    padding: 10px;
    background: var(--bg2);
    border: 1px solid var(--brcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    flex-shrink: no-shrink;
    height: 130px;
    
}

main{
    background: var(--bg2);
    border: 1px solid var(--brcolor);
    padding: 10px;
    height: 320px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}